<md-toolbar color="primary">

  <a href="/"><span>@adnanrahic</span></a>
  <span class="fill-remaining-space"></span>
  <div fxLayout fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <!-- desktop -->
    <div fxShow fxHide.xs>
      <button md-button routerLink="/portfolio" routerLinkActive="active"> Portfolio </button>
      <button md-button routerLink="/about" routerLinkActive="active"> About </button>
      <button md-button routerLink="/contact" routerLinkActive="active"> Contact </button>
    </div>

    <!-- mobile -->
    <button fxShow.xs fxHide md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
  </div>

</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item routerLink="/" routerLinkActive="active"> Portfolio </button>
  <button md-menu-item routerLink="/about" routerLinkActive="active"> About </button>
  <button md-menu-item routerLink="/contact" routerLinkActive="active"> Contact </button>
</md-menu>  


<router-outlet></router-outlet>


<!-- <md-card *ngFor="let data of (myData ? myData.slice(0,10): []); let i = index">

  <img md-card-image src="{{ data.url }}">
  <md-card-header>
    <md-card-title>{{ data.title }}</md-card-title>
  </md-card-header>

  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>

</md-card> -->