<div fxLayout fxLayout="column" class="portfolio-header">
    <h1>Who am I?</h1>
    <div fxFlexAlign="center" class="spacer"></div>
    <p fxFlexAlign="center">
        Hi, I'm Adnan Rahić. I author this blog, write code for a living and share my knowledge with the world.
        Follow me on Medium @adnanrahic if you wish to read more.
        Or, check out my portfolio to see what I've been hacking on.
    </p>
</div>

<div fxLayout fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
  
  <div fxFlex="50%" fxHide.xs>
    hide on mobile
  </div>

  <div>
    some content
  </div>

  <div>
    some content
  </div>
  
  <div>
    some content
  </div>
  
  <div>
    some content
  </div>

</div>